body {
    margin : 0px;
    background-position: center;
    background-size: cover;
    height : 100%;
    overflow : hidden;
    padding : 0px;
    background-repeat: no-repeat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color : white;
}

.container {
    margin-left : 2.5vw;
    margin-right : 2.5vw;
    margin-top : 35px;
    margin-bottom : 35px;
    box-sizing: border-box;
    overflow : hidden scroll;
    padding : 5px;
    background-color : #000B;
    border : 1px solid black;
    border-radius : 15px;
    
    padding: 15px;
    height : calc(100% - 70px);
}

.tree .tree {
    overflow : hidden visible;
}
.container .container {
    margin-left: 0px;
    margin-right: 0px;
    margin-top : 5px;
    margin-bottom : 5px;
    height : auto;
}

.tree a {
    border : 1px solid transparent;
    overflow : hidden;
    border-radius : 15px;
    font-style: normal;
    text-decoration: none;
    padding : 5px;
    display : block;
    color : rgb(41, 194, 255);
}

.tree .tree {
    padding-top : 0px;
    padding-bottom : 0px;
    margin-top : 0px;
    margin-bottom : 0px;
}

.tree a:hover {
    background-color: #FFF2;
}

h1, h2 {
    color :rgb(255, 41, 130);
}

#topBar {
    padding : 5px;
    height : 50px;
    position: absolute;
    left : 0px;
    top : 0px;
    right : 0px;
    background-color : #000D;
    backdrop-filter: blur(5px);
    display : flex;
    overflow : hidden;
}

#topBar .b {
    line-height: 25px;
    padding : 10px;
    background-color : transparent;
    display : inline-block;
    flex : 1;
    text-align: center;
    font-size : 15pt;
    color : white;
    text-decoration: none;
    border : 1px solid transparent;
    border-radius: 15px; 
    vertical-align: text-bottom;
}

horBar {
    display : inline-block;
    height : calc(100% - 10px);
    margin : 5px;
    border-left : 1px solid #FFF8;   
}

#topBar horBar:hover {
    padding : 10px;
    background-color : #FFF2;
}

iframe {
    position: absolute;
    border : none;
    left : 0px;
    top : 50px;
    right : 0px;
    bottom : 0px;
    width : 100%;
    height : calc(100% - 50px);
}

inlineCode {
    border : 1px solid #444;
    background-color : #222;
    display : inline-block;
    padding : 5px;
    font-family: 'Courier New', Courier, monospace;
}